.textIconContainer{
    width:200px;
    display: block;
    padding: 0.75rem 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.5;
    display: flex;
    
    }
    .textIconContainer:hover{
    color: #212529;
    background-color: #e9ecef;
    box-shadow: maroon;
    }
    .textIconContainer:focus{
        background-color: maroon;
        color:white;
        }
